.certificate{
    &__wrapper {
        padding-top: 50px;
        padding-bottom: 90px;
      }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 140.4%;
        text-align: center;
        margin-bottom: 13px;
      }
      
}