.contacts {
  &__info {
    width: 50%;
    margin-left: 72px;
  }

  &__content {
    display: flex;
    margin-bottom: 74px;
  }

  &__write {
    margin-bottom: 16px;
  }

  &__map {
    position: relative;
    left: 82px;
    width: 55%;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(23, 104, 104);
  }
}
