.footer {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #121214;
    border-bottom: 1px solid #121214;
  }

  &__logo {
    margin-left: 183px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;

    margin-top: 35px;
    margin-bottom: 38px;
  }

  &__item {
    margin-right: 15px;
    color: #121214;
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    text-transform: uppercase;
  }

  &__item:hover {
    color: rgba(3, 126, 140, 1);
  }
}
