.header {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
  }
}

.header .header__list {
  display: flex;
  margin-right: 58px;
  margin-top: 39px;
}

.header__item {
  margin-right: 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 104.7%;
  text-transform: uppercase;
}

.header__item:hover {
  color: rgba(3, 126, 140, 1);
}

.header__item:last-child {
  margin-right: 0;
}
.header__contacts {
  margin-top: 39px;
}

.header__phone {
  margin-top: 36px;
  font-size: 20px;
  line-height: 104.7%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header__call {
  display: block;
  width: 177px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  margin-top: 11px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 104.7%;
  letter-spacing: 0.02em;
  border: none;
}

.header__burger {
  display: none;
}

.header_white {
  background-color: #ffffff;

  .header__item {
    color: black;
  }
}

@media (max-width: 992px) {
  .header__info {
    /* display: none; */
  }

  .header__burger {
    display: flex;
  }

  /* .header {
    width: 100%;
  }
  
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .header__info {
    display: flex;
  }
  
  .header__list {
    display: flex;
    margin-right: 58px;
    margin-top: 39px;
  }
  
  .header__item {
    margin-right: 15px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    text-transform: uppercase;
  }
  
  .header__item:hover {
    color: rgba(3, 126, 140, 1);
  }
  
  .header__item:last-child {
    margin-right: 0;
  }
  .header__contacts {
    margin-top: 39px;
  }
  
  .header__phone {
    margin-top: 36px;
    font-size: 20px;
    line-height: 104.7%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .header__call {
    display: block;
    width: 177px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    margin-top: 11px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    letter-spacing: 0.02em;
    border: none;
  } */
}
