.header {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
  }

  &__logo {
    z-index: 1;
  }

  &__list {
    display: flex;
    margin-right: 58px;
    margin-top: 39px;
  }

  &__item {
    margin-right: 15px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    text-transform: uppercase;
  }

  &__item:hover {
    color: rgba(3, 126, 140, 1);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__contacts {
    margin-top: 39px;
  }

  &__phone {
    margin-top: 36px;
    font-size: 20px;
    line-height: 104.7%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__call {
    display: block;
    width: 177px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    margin-top: 11px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    letter-spacing: 0.02em;
    border: none;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    // &_item {
    //   width: 25px;
    //   height: 5px;
    //   color: crimson;
    // }
  }

  .header_white {
    background-color: #ffffff;

    .header__item {
      color: black;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__info {
      display: none;

      &_show {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-top: 104px;
        background: rgb(65, 65, 67);

        .header__list {
          flex-direction: column;
          padding-left: 21px;
        }

        .header__item {
          padding: 15px;
          border-bottom: 1px solid white;
        }
      }
    }

    &__logo {
      position: relative;
      top: 11px;
      left: 20px;
      width: 70px;
      height: 84px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__nav {
      width: 100%;
    }

    &__item {
      font-weight: 500;
      font-size: 16px;
      line-height: 245.4%;
      letter-spacing: 0.015em;
      text-transform: uppercase;
      color: #ffffff;
    }

    &__contacts {
      margin-top: 55px;
      padding-left: 21px;
      font-weight: 600;
      font-size: 20px;
      line-height: 104.7%;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }

  .banner {
    &__wrapper {
      margin: 0 auto;
      width: 85%;
    }

    &__text {
      text-transform: lowercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }
  }

  .burger {
    margin-top: 30px;
    margin-right: 20px;
  }
}
