.offers {
  &__title {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 36px;
    line-height: 140.4%;
    color: #121214;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 20%;
    border-radius: 9px;
    overflow: hidden;
    background: #8d8c8c;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 220px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    padding: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #037e8c;
    // background-color: #8d8c8c;
  }
}
