.slider {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__current::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  &__current {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__current::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }
}
