.slider {
  position: absolute;
  top: 20%;
  right: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__bullets {
    display: flex;
    flex-direction: column;
  }

  &__bullet {
    width: 8px;
    height: 8px;
    margin-top: 15px;
    background: #ffffff;
    border-radius: 50%;
  }

  &__line {
    width: 54px;
    height: 2px;
    margin-left: 22px;
    margin-right: 14px;
    background-color: #fff;
    rotate: 90deg;
  }

  &__text {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    rotate: 90deg;
  }
}
