@import "./general";
@import "./header";
@import "./advantages";
@import "./questions";
@import "./modal";
@import "./routs";
@import "./help";
@import "./photo";
@import "./team";
@import "./conditions";
@import "./suggestion";
@import "./certificate";
@import "./offers";
@import "./banner";
@import "./video";
@import "./tabs";




.background-wrapper {
  background-image: url("../images/bg-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





/* h1

.header

#header

a[href$="https://kyfar"]  - начинается {

} */



