@charset "UTF-8";
* {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

body {
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
div,
blockquote,
i {
  font-family: "Montserrat";
  font-style: normal;
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__info {
  display: flex;
}

.header .header__list {
  display: flex;
  margin-right: 58px;
  margin-top: 39px;
}

.header__item {
  margin-right: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
  line-height: 104.7%;
  text-transform: uppercase;
}

.header__item:hover {
  color: rgb(3, 126, 140);
}

.header__item:last-child {
  margin-right: 0;
}

.header__contacts {
  margin-top: 39px;
}

.header__phone {
  margin-top: 36px;
  font-size: 20px;
  line-height: 104.7%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header__call {
  display: block;
  width: 177px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  margin-top: 11px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 104.7%;
  letter-spacing: 0.02em;
  border: none;
}

.header__burger {
  display: none;
}

.header_white {
  background-color: #ffffff;
}
.header_white .header__item {
  color: black;
}

@media (max-width: 992px) {
  .header__info {
    /* display: none; */
  }
  .header__burger {
    display: flex;
  }
  /* .header {
    width: 100%;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header__info {
    display: flex;
  }

  .header__list {
    display: flex;
    margin-right: 58px;
    margin-top: 39px;
  }

  .header__item {
    margin-right: 15px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    text-transform: uppercase;
  }

  .header__item:hover {
    color: rgba(3, 126, 140, 1);
  }

  .header__item:last-child {
    margin-right: 0;
  }
  .header__contacts {
    margin-top: 39px;
  }

  .header__phone {
    margin-top: 36px;
    font-size: 20px;
    line-height: 104.7%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .header__call {
    display: block;
    width: 177px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    margin-top: 11px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 104.7%;
    letter-spacing: 0.02em;
    border: none;
  } */
}
.questions {
  background-image: url("../images/questions_spring.png");
  background-repeat: no-repeat;
  background-position: left -150px;
  border: 1px solid blueviolet;
}
.questions__wrapper {
  background-image: url("../images/questions_buggi.png");
  background-repeat: no-repeat;
  background-position: right -150px;
}
.questions__title {
  padding-top: 71px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140.4%;
  text-align: center;
}
.questions__section {
  display: flex;
}

.questions__tabs {
  width: 50%;
}

.questions__ask {
  width: 50%;
}

.questions_image {
  text-align: center;
}

.questions__subtitle {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #121214;
}

.questions__text {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.questions__btn {
  display: block;
  margin: 0 auto;
  margin-top: 31px;
  width: 175px;
  height: 45px;
  background: #037e8c;
  border-radius: 9px;
  border-style: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

/*.slider__pagination{
  display: flex;

}

.slider__item{

}*/
.background-wrapper {
  background-image: url("../images/bg-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__wrapper {
  width: 50%;
}

.banner__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 125.5%;
  letter-spacing: 0.045em;
  color: #ffffff;
  margin-top: 108px;
  margin-bottom: 37px;
}

.banner__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 108.7%;
  color: #ffffff;
  margin-bottom: 82px;
}

.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 55px;
  background: #037e8c;
  border-radius: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 108.7%;
  margin-bottom: 192px;
}

.banner__btn span {
  margin-right: 32px;
  color: #ffffff;
}

/*=============MAIN=================*/
.advantages__item {
  display: flex;
}

.advantages__title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 108.7%;
  margin-bottom: 20px;
}

.advantages__text {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 108.7%;
  margin-bottom: 15px;
  color: rgb(18, 18, 20);
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  width: calc(25% - 22px);
  background-color: aquamarine;
}

.advantages__images {
  margin-top: 52px;
  margin-bottom: 25px;
}

.advantages__images img:first-child {
  position: relative;
  z-index: 1;
  top: -7px;
}

.advantages__images img:last-child {
  position: relative;
  left: -28px;
}

/* h1

.header

#header

a[href$="https://kyfar"]  - начинается {

} */
.routs__wrapper {
  background: #f4f4f4;
}

.routs__title {
  padding-top: 57px;
  padding-bottom: 57px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}

.routs__section {
  display: flex;
}

.routs__section_revers {
  flex-direction: row-reverse;
}

.routs__info {
  position: relative;
  padding-left: 110px;
  width: 50%;
  padding-bottom: 57px;
}

.routs__info::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 81px;
  height: 4px;
  background-color: rgb(3, 126, 140);
}

.routs__subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 108.7%;
}

.routs__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 108.7%;
}

.routs__description {
  padding-top: 32px;
}

.routs__block {
  display: flex;
  justify-content: start;
  padding-bottom: 10px;
}

.routs__slider {
  width: 50%;
  background-color: blue;
}

.routs__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 108.7%;
  text-transform: uppercase;
  padding-left: 17px;
}

.routs__item-value {
  font-weight: 400; /*не применяется*/
}

.routes__notice {
  display: flex;
  padding-top: 22px;
}

.routes__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  padding-right: 20px;
}

.routs__plan {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding-top: 13px;
}

.routs__buttons {
  padding-top: 39px;
  display: flex;
}

.routs__more {
  width: 175px;
  height: 45px;
  border: 1.5px solid #037e8c;
  border-radius: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #037e8c;
  margin-right: 15px;
}

.routs__reserve {
  width: 175px;
  height: 45px;
  background: #037e8c;
  border-radius: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

/*===================== HELP ==============*/
.help__wrapper {
  background: grey;
  padding-top: 50px;
  padding-bottom: 100px;
}

.help__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
}

.help__text {
  text-align: center;
  padding-top: 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}

.help__button {
  padding-bottom: 50px;
  padding-top: 43px;
}

.help__btn {
  width: 175px;
  height: 45px;
  background: #037e8c;
  border-radius: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

/*=================== PHOTO =====================*/
.photo {
  border: 2px solid green;
}

.photo__wrapper {
  padding-bottom: 130px;
}

.photo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #121214;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.photo__slider {
  display: flex;
  justify-content: space-evenly;
}

/*                VIDEO              */
.video__wrapper {
  background-image: url("../images/video wrapper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 82px 181px;
}

.video__content {
  width: 1078px;
  height: 430px;
  margin: 0 auto;
  border: 7px solid #ffffff;
  border-radius: 22px;
}

/*=============== TEAM ================ */
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #121214;
  padding-top: 64px;
  padding-bottom: 33px;
  text-align: center;
}

.team__group {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}

.team__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #037e8c;
  padding-top: 17px;
  padding-left: 26px;
}

.team__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #121214;
  padding-bottom: 22px;
  padding-left: 26px;
}

/*===========================CONDITIONS=================*/
.conditions {
  background-image: url("../images/bg-conditions.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.conditions__title {
  width: 500px;
  height: 94px;
  margin: 0 auto;
}

.conditions__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #121214;
  padding-top: 50px;
  padding-bottom: 43px;
}

.conditions__group {
  /*  */
  justify-content: space-between;
  /*  */
  display: flex;
  flex-wrap: wrap;
  padding-top: 52px;
}

.conditions__card {
  background-color: #ffffff;
  border-radius: 9px;
  width: calc(33% - 60px);
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.conditons__icon {
  padding-top: 9px;
  padding-left: 5px;
}

.conditions__description {
  padding: 9px 27px 14px 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

/*==================== SUGGESTION ==========*/
.suggestion__wrapper {
  border: 1px solid green;
  padding: 64px 70px 75px 70px;
}

.suggestion__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #373737;
  padding-bottom: 45px;
}

.suggestion__content {
  display: flex;
  justify-content: space-between;
}

.suggestion__card {
  display: flex;
  width: calc(50% - 29px);
  background: #f4f4f4;
  border-radius: 9px;
  background-image: url("../images/suggestion bg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.suggestion__item {
  width: 50%;
}

.suggestion__image {
  border-radius: 9px;
}

.suggestion__text {
  width: 50%;
}

.suggestion__subtitle {
  font-weight: 800;
  font-size: 36px;
  line-height: 139%;
  color: #037e8c;
  margin-top: 26px;
}

.suggestion__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #373737;
  margin-top: 15px;
}

.suggestion__btn {
  border: 1.5px solid #037e8c;
  border-radius: 9px;
  width: 175px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #037e8c;
}

.suggestion__more {
  margin-top: 20px;
}

/*=================== certificate =========*/
.certificate__wrapper {
  padding-top: 50px;
  padding-bottom: 90px;
}

.certificate__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140.4%;
  text-align: center;
  margin-bottom: 13px;
}

.team__member {
  width: 20%;
  height: 310px;
}

/*  */
.team__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.team__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.suggestion__card {
  display: flex;
}

.suggestion__image {
  width: 50%;
  position: relative;
  height: 100%;
}

.suggestion__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.suggestion__desc {
  width: 50%;
}

/*********************** MODAL WINDOW ************************/
.modal {
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 20, 0.8);
  display: none;
}

.modal__wrapper {
  width: 1074px;
  height: 479px;
  background: #ffffff;
  border-radius: 9px;
  position: relative;
}

.modal__area {
  margin-left: 362px;
  margin-top: 82px;
}

.modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #121214;
}

.modal__group {
  margin-top: 38px;
}

.modal__subtitle {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121214;
  margin-bottom: 11px;
}

.modal__input {
  display: block;
  width: 350px;
  height: 46px;
  background: #ffffff;
  border: 0.5px solid #787878;
  border-radius: 8px;
  margin-bottom: 12px;
}

.modal__button {
  margin-top: 20px;
}

.modal__btn {
  width: 175px;
  height: 45px;
  background: #037e8c;
  border-radius: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  border-style: none;
}

.modal__close {
  position: absolute;
  right: -50px;
  top: -50px;
}

.show {
  display: flex;
}

/**************************** QUESTIONS ******************************/
/**************************** TABS ******************************/
.tabs__item {
  border: 0.5px solid #037e8c;
  border-radius: 2px;
  margin: 8px;
}

.tabs__content {
  position: relative;
}
.tabs__content p {
  display: none;
}
.tabs__content::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 8px;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-135deg);
  transition: transform 0.1s linear;
}
.tabs__content_show p {
  display: block;
}
.tabs__content_show::after {
  transform: rotate(-45deg);
}

.tabs__subtitle {
  padding: 17px 23px 24px 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #121214;
}

.tabs__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #121214;
  padding: 0 31px 16px 21px;
}

/************************** OFFERS ********************/
.offers__title {
  margin-top: 85px;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140.4%;
  color: #121214;
  text-align: center;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  border-radius: 9px;
  width: calc(25% - 90px);
}

.offers__descrip {
  background: #8d8c8c;
  padding: 25px;
}

.offers__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #037e8c;
}/*# sourceMappingURL=index.css.map */